@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{
    Layout = null;
}

<html>
    <head>
        <title>Table Tennis England Rankings Calculator</title>
        <link rel="stylesheet" href="/css/home.css" /> 
    </head>
    <body>
        <div class="container">
        <header>
        <h1>Table Tennis Ranking Calculator</h1>
        </header>
        <hr />
        <div class="content">
            <h2>Welcome</h2>
            <p>This website was created to make the INCREDIBLY complex Table Tennis England Ranking System easier to understand. It allows you to calculate theoretical rankings - anything can be possible when you are making it happen!</p>
            <p>Whether you want to see what would happen if you beat Liam Pitchford at the Olympics, or just the consequence of a loss, this website allows you to know all...</p>
            <p>Interested? Click the button below to try it out</p>
            <a class="next" asp-page="/points">Begin</a>
        </div>
        </div>
    </body>
</html>