@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{
    Layout = null;
}

<html>
    <head>
        <title>Table Tennis England Rankings Calculator</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
    <div class="container">
        <header>
        <h1>Table Tennis Ranking Calculator</h1>
        </header>
        <hr />
    </div>

    </body>
</html>

