@page
@model ResultsModel
@{
    ViewData["Title"] = "Final Details page";
}
@{
    Layout = null;
}

<html>
    <head>
        <title>Table Tennis England Rankings Calculator</title>
        <link rel="stylesheet" href="/css/results.css" /> 

    </head>
    <body>
        <div class="container">
        <header>
        <h1>Table Tennis Ranking Calculator</h1>
        </header>
        <hr />
        <div class="content">
            <h2>Last Details</h2>
            <p><i>All that's needed to finish the calculations</i></p>
            <hr class="sep">
                
                <form method="GET" action="/results">

                   
                    <!-- Checkbox from https://getcssscan.com/css-checkboxes-examples -->
                    <div id="check-wrap">
                    <div class="checkbox-wrapper-37">
                        <input type="checkbox" id="check"/>
                        <label for="check" class="terms-label">
                        <svg class="checkbox-svg" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <mask id="path-1-inside-1_476_5-37" fill="white">
                                <rect width="200" height="200" />
                            </mask>
                            <rect width="200" height="200" class="checkbox-box" stroke-width="40" mask="url(#path-1-inside-1_476_5-37)"/>
                            <path class="checkbox-tick" d="M52 111.018L76.9867 136L149 64" stroke-width="15" />
                        </svg>
                        <span class="label-text" id="check-result">Player Two Won (click box to switch)</span>
                        
                    </label>
                    </div>
                    </div>
                        

                    

                    <label for="weights">Pick the type of tournament played (weights will select automatically)</label>
                    <select id="weights" required>
                        <option value="" selected>Please Select an Option</option>
                    </select>
                    <input type="hidden" name="weight" id="hidWeight" />
                    <input type="hidden" name="p1Points" id="p1p" />
                    <input type="hidden" name="p2Points" id="p2p" />
                    <input type="hidden" name="p1Win" id="who-won"/>
                    
                    <script>
                        const checky = document.getElementById("check");
                        const out = document.getElementById("check-result")
                        const hidCheck = document.getElementById("who-won");
                        document.addEventListener("change", () => {
                            if (checky.checked) {
                                out.textContent = "Player One Won";
                                hidCheck.value = "true";
                            } else {
                                out.textContent = "Player Two Won";
                                hidCheck.value = "false";
                            }
                        });

                        const weightSel = document.getElementById("weights");
                        const hidWeightSel = document.getElementById("hidWeight");
                        document.addEventListener("change", () => {
                            hidWeightSel.value = weightSel.value;
                        });

                        const p1 = document.getElementById("p1p");
                        const p2 = document.getElementById("p2p");
                        p1.value = @Model.p1Points;
                        p2.value = @Model.p2Points;
                    </script>

                    <input type="submit" class="next" style="margin-top: 0px;" value="Continue">
                </form>
        </div>
        </div>

        <script>
        async function loadWeights() {
            const response = await fetch("/data/weights.json");
            const weights = await response.json();
            const selecty = document.getElementById("weights");

            weights.forEach(weights => {
                const option = document.createElement("option");
                option.value = weights.Mult;
                option.textContent = weights.Tourney;
                selecty.appendChild(option); 
            });

            const selWait = new Choices(selecty, {
                searchEnabled: true,
                itemSelectText: "",
                shouldSort: false
            })
            
            selWait.containerOuter.element.style.width = "70%";
            selWait.containerOuter.element.style.margin = " 30px auto";
            selWait.containerOuter.element.style.border = " 1px grey solid";
            selWait.containerInner.element.style.maxWidth = "98.7%";
            selWait.containerOuter.element.style.width = "70%";
            selWait.containerOuter.element.style.margin = " 30px auto";
            selWait.containerOuter.element.style.border = " 1px grey solid";
            selWait.containerInner.element.style.maxWidth = "98.7%";
            }
        loadWeights();        
        </script>
    </body>
</html>